<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 ">
 	
	<bean id="deerletRedisClient" class="cn.zxl.deerlet.redis.client.spring.DeerletRedisClientFactoryBean">
		<property name="connectionPool">
			<bean class="cn.zxl.deerlet.redis.client.spring.ConnectionPoolFactoryBean">
				<property name="initSize" value="20"></property>
				<property name="minIdleSize" value="15"></property>
				<property name="maxIdleSize" value="30"></property>
				<property name="maxSize" value="100"></property>
			</bean>
		</property>
	</bean>
	
</beans>